.home-page-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 2em;
  flex-wrap: wrap;
  margin: 2em 1em;
}

.card-comment-container {
  margin: 2em 0;
}

.card {
  display: flex;
  flex-flow: column;
  background-color: rgb(255, 255, 255);
  border-radius: 0.4em;
  width: 300px;
  height: fit-content;
  padding: 1em;
}

.card-comment {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.card-comment input {
  border-radius: 0.5em;
  border: none;
  width: 90%;
  padding: 0.5em;
  margin: 0.5em 0.2em;
}

.details {
  display: flex;
  flex-flow: column;
  margin: 0 1.7em;
  gap: 1em;
}

.recipe-img {
  border-radius: 0.4em;
  width: 250px;
  height: 300px;
  align-self: center;
}

.recipe-cuisine {
  font-size: 0.9em;
  font-weight: 500;
}

.recipe-name {
  font-size: 1.6em;
  font-weight: 700;
}

.recipe-review {
  font-size: 1.2em;
  font-weight: 400;
}

.card-icons {
  cursor: pointer;
}

.recipe-ingredient {
  font-size: 1em;
  font-weight: 500;
  color: rgb(134, 134, 135);
  height: fit-content;
  width: fit-content;
  cursor: pointer;
}

.recipe-ingredient:hover {
  color: rgb(0, 0, 0);
}

.name-heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heart-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  gap: 1em;
}

.search-bar input {
  padding: 1em;
  border: none;
  border-radius: 0.5em;
  width: 60%;
}

.search-bar button {
  padding: 1em;
  border: none;
  border-radius: 0.5em;
  width: 20%;
  cursor: pointer;
  background-color: rgb(136, 0, 255);
  font-weight: 600;
  /* font-size: 1em; */
  color: white;
}

.user-follow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}
